# Ignore everything
/*

# But not these files...
!.gitignore
!projects
!init.el
!.mc-lists.el
!abbrev_defs
!early-init.el

# Un-ignore folder 'a' and everything inside it recursively
!config/
!config/**

# Un-ignore folder 'b' and everything inside it recursively
!other-packages/
!other-packages/**

!snippets/
!snippets/**

